
<p>======================</p>
<p>
    <strong>The one who comments:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p>======================</p>
